<table>
<tr valign='top' style='padding: 40px;'><td width='50%'>
<div style='padding: 40px;'>
<h2>Gestión</h2>
<li><a href='/user/accounts'>credito total</a></li>
<li><a href='/prices/check'>precios proveedores</a></li>
<h2>PLN</h2>
<li><a href='/tpl/pln'>centralitas pln</a></li>
<li><a href='/tinc'>tinc</a></li>
<li><a href='/dundi'>dundi</a></li>
<h2>Monitorización</h2>
<li><a href='/stats/host'>host stats</a></li>
<li><a href='/calls'>llamadas</a></li>
<li><a href='/tpl/sse.html'>ojo de mordor</a></li>
</div>
</td><td>
<img src="/tpl/bofh2.png"></img>
</td></tr>
</table>
