
<!DOCTYPE html>
<html>

	<head>
		<title>Lorea PBX</title>
		<meta charset="UTF-8">
		<style type="text/css"></style>
		<link rel="stylesheet" href="/tpl/home-pbx-lorea.css">
	</head>

	<body>
		<div id="main-wrapper">
			<header id="header">
				<a href="/">inicio</a>
				<div id="logo">%%logo%%</div>					
			</header>
			
			<div id="content">
				
				
				<section id="img-logo"><img src="/tpl/hard-hat.png"/></section>
				<section id="content_inner">
						%%content%%
				</section>

				<section id="listado-enlaces">
	<!--				<ul>
						%%LINKS%%
					</ul>
					-->
				</section>

			</div>
      <!------ fin del content ---- -->
			<footer id="footer"></footer>
		</div>
	</body>

</html>

