<h2>CsipSimple con TLS y SRTP</h2>
Nota: primero debemos ir a opciones en nuestra pagina de la centralita (debajo de las llamadas en la pagina de facturacion), y ahi activar las opciones relativas a seguridad (srtp y tls) para que permita que nuestro cliente se conecte de forma segura.
<h3>Menu general</h3>
<p>Primero tenemos que ir a las opciones generales del csipsimple y activar dentro del menu (apretar la tecla de menu desde la pantalla principal del csipsimple) de <b>red</b>-&gt;<b>protocolo seguro</b>, las siguientes opciones:</p>
<li><b>TLS</b>: <b>activado</b></li>
<li><b>Modo SRTP</b>: Opcional u Obligatorio</li>
<img src="/tpl/csipsimple/csipsimple-secure-1.png" />
<img src="/tpl/csipsimple/csipsimple-secure-2.png" />
<img src="/tpl/csipsimple/csipsimple-secure-3.png" />
<img src="/tpl/csipsimple/csipsimple-secure-4.png" />
<img src="/tpl/csipsimple/csipsimple-secure-5.png" />
<h3>Menu de cuentas</h3>
<p>Debemos crear una cuenta con el modo experto, donde las opciones que debemos tocar son las siguientes:</p>
<em>en cursiva las partes que debes modificar introduciendo tus datos personales, si algo pone que es opcional quiere decir que no es necesario para la conexion segura, pero son parametros utiles en nuestro servidor.</em>
<ul>
<li>SIP Account<ul>
<li><b>Nombre de cuenta</b>: <em>Nombre arbitrario para la cuenta</em></li>
<li><b>ID de la cuenta</b>: &lt;sips:<em>tu_usuario</em>@pbx.lorea.org&gt;</li>
<li><b>URI de registro</b>: sips:pbx.lorea.org</li>
</ul></li>
<li>SIP Authentication<ul>
<li><b>Nombre de usuario</b>: <em>tu nombre de usuario</em></li>
<li><b>Dato (Contraseña)</b>: <em>tu contraseña</em></li>
</ul></li>
<li>Connection<ul>
<li><b>Protocolo de comunicacion</b>: TLS</li>
<li><b>Publicar el estado/presencia</b>: activar (opcional)</li>
</ul></li>
<li>Servidor proxy<ul>
<li><b>URI del proxy</b>: sips:pbx.lorea.org</li>
</ul></li>
<li>Medio de transporte<ul>
<li><b>Modo SRTP</b>: Obligatorio</li>
</ul></li>
<li>Varios<ul>
<li><b>Mensaje de voz</b>: * (opcional)</li>
</ul></li>
</ul>
<p>Por si me he dejado algo, aqui tienes las capturas de la configuracion de la aplicacion.</p>
<img src="/tpl/csipsimple/csipsimple-secure-6.png" />
<img src="/tpl/csipsimple/csipsimple-secure-7.png" />
<img src="/tpl/csipsimple/csipsimple-secure-8.png" />
<img src="/tpl/csipsimple/csipsimple-secure-9.png" />
<img src="/tpl/csipsimple/csipsimple-secure-10.png" />
<img src="/tpl/csipsimple/csipsimple-secure-11.png" />
<img src="/tpl/csipsimple/csipsimple-secure-12.png" />
<img src="/tpl/csipsimple/csipsimple-secure-13.png" />
<img src="/tpl/csipsimple/csipsimple-secure-14.png" />
<img src="/tpl/csipsimple/csipsimple-secure-15.png" />
<img src="/tpl/csipsimple/csipsimple-secure-16.png" />
<img src="/tpl/csipsimple/csipsimple-secure-17.png" />


