
body{
	font-family: Verdana;
	font-size: 1em;
	background-color: #222;
	color: #ccc;
	background-image: url('noise.png') repeat;
}

.pln-table {
	width: 90%;
	border: none;
}

.even {
	background-color: #111;
}

#main-wrapper {
	margin: 10px;
}

#header-frontpage {
	height: 80px;
	color: #ddd;
	text-shadow: 0px 0px 7px #1FF;
	margin-bottom: 10px;

}

#portada {
	left: 400px;
	top: 100px;
	position: absolute;
	width: 40%;
}

#header {
	height: 40px;
	color: #ddd;
	text-shadow: 0px 0px 7px #1FF;
	margin-bottom: 10px;

}

#logo {
	font-size: 3em;
	font-weight: bold;
	color: white;
	float: right;
	height: 40px;
} 

#content{
	font-size: 0.8em;
}

#img-logo {
	float: right;
}
#login {

}

a{
	color: #FFFFFF;
}

#login a{
	color: #FA005C;

}

#tdfront-login {
	background-color: #444;
}


#listado-enlaces {
	width: 317px;
	background-color: #444;

}
#footer {

}
