
<!DOCTYPE html>
<html>

	<head>
		<title>Lorea PBX - %%user%%</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/tpl/home-pbx-lorea.css">
	</head>

	<body>
		<div id="main-wrapper">
			<header id="header-frontpage">
				<div id="logo">%%logo%%</div>					
			</header>
			
			<div id="content">
				
				
				<section id="img-logo"><a href='http://phoneliberation.net'><img src="/tpl/pln4.png"/></a></section>
				<section id="login">
					%%user%%
				</section>

				<section id="listado-enlaces">
					<ul>
						%%LINKS%%
					</ul>
					
				</section>
				%%content%%
				<section id="listado-enlaces">
					<ul>
						%%LOGGED_LINKS%%
					</ul>
					
				</section>

					<ul>
						<a href="/docs/obelisk0.3">Version 0.3</a>
					</ul>
			</div>
      <!------ fin del content ---- -->
			<footer id="footer"></footer>
		</div>
	</body>

</html>

