
<!DOCTYPE html>
<html>

	<head>
		<title>home %%logo%%</title>
		<meta charset="UTF-8">
		<style type="text/css"></style>
		<link rel="stylesheet" href="/tpl/home-pbx-lorea.css">
	</head>

	<body>
		<div id="main-wrapper">
			<header id="header">
				<div id="logo">%%logo%%</div>					
			</header>
			
			<div id="content">
				
				
				<section id="img-logo"><img src="/tpl/hard-hat.png"/></section>
				<section id="login">
					%%user%%
				</section>

				<section id="listado-enlaces">
					<ul>
						%%LINKS%%
					</ul>
					
				</section>
				<section id="listado-enlaces">
					<ul>
						%%LOGGED_LINKS%%
					</ul>
					
				</section>

			</div>
      <!------ fin del content ---- -->
			<footer id="footer"></footer>
		</div>
	</body>

</html>

