<p>Nuestro setup 0.3 tiene las siguientes caracteristicas:</p>
<li>Asterisk 11.2.1<ul>
  <li>Soporte cifrado: <a href="/docs/csipsimple">SRTP y TLS</a></li>
  <li>Soporte mensajeria <a href="http://en.wikipedia.org/wiki/SIMPLE">SIMPLE</a></li>
  <li><a href="http://www.voip-info.org/wiki/view/Asterisk+RealTime+Sip">Usuarios</a>, <a href="http://www.voip-info.org/wiki/view/Asterisk+RealTime+Extensions">extensiones de usuario</a> y <a href="http://www.voip-info.org/wiki/view/Asterisk+RealTime+Voicemail">correo de voz</a> en base de datos</li>
  <li>Buzon de voz (llamando a *)</li>
  <li>Llamadas con <a href="http://www.voip-info.org/wiki/view/SIP+URI">uri sip</a> contra otros servidores</li>
</ul></li>
<li>Obelisk 0.3<ul>
  <li>Conexion al manager de asterisk</li>
  <li>Estadisticas y control de llamadas para trunks sip y llamadas directas</li>
  <li>Recepcion de eventos en tiempo real (no more polling or tail)</li>
  <li>Utiliza la libreria <a href="http://www.vrplumber.com/programming/starpy/">StarPy</a></li>
</ul></li>
<li>Proximos pasos<ul>
  <li><a href="https://pbx.lorea.org/tpl/bootstrap/home.html">Disenyo</a> definitivo para web</li>
  <li>Testeo prioridad realtime en asterisk</li>
  <li>Testeo <a href="http://www.freeswitch.org/">freeswitch</a> como posible sustituto de asterisk (falta <a href="http://en.wikipedia.org/wiki/ZRTP">ZRTP</a> y presencia en asterisk)</li>
  <li><a href="http://www.opus-codec.org/comparison/">Estudio de codecs</a> (ilbc, opus, speex, silk, g7XX)</li>
  <li>Estudio de efectividad voip sobre 3g</li>
  <li>Pasarela de pago bitcoin</li>
  <li>Server exclusivo para telefonia (posiblemente kaos)</li>
</ul></li>
</ul>
<p><a href="https://github.com/lorea/rtcheckcalls">git repository</a></p>
