<form method='POST' action='/options'>
<h2>Codecs</h2>
Baja calidad: <input name='lowquality' type='checkbox' %%lowquality%% /><br />
<p>Baja calidad viene bien para forzar el telefono a usar un codec de poco ancho de banda.</p>
<div>
<h2>Cifrado</h2>
<p>No tocar estas opciones sin saber ya que luego es posible que las llamadas no vayan bien. EXPERIMENTAL.</p>
TLS: <input name='tls' type='checkbox' %%tls%% /><br />
SRTP: <input name='srtp' type='checkbox' %%srtp%% /><br />
</div>
<input name='ext' type='hidden' value='%%ext%%' />
<input name='submit' type='submit' value='submit' />
</form>
