<form method='POST' action='/options'>
<h2>Codecs</h2>
Baja calidad: <input name='lowquality' type='checkbox' %%lowquality%% /><br />
<p>Baja calidad viene bien para forzar el telefono a usar un codec de poco ancho de banda.</p>
<div>
<h2>Cifrado</h2>
<p>Para activar el cifrado se debe configurar el cliente para el movil segun se explica en <a href="/docs/csipsimple">este tutorial</a>.</p>
<p>Tambien se puede hacer con otros clientes (<a href="http://www.sflphone.org">sflphone</a>) pero aun no disponemos de tutoriales.</p>
TLS: <input name='tls' type='checkbox' %%tls%% /><br />
SRTP: <input name='srtp' type='checkbox' %%srtp%% /><br />
</div>
<input name='ext' type='hidden' value='%%ext%%' />
<input name='submit' type='submit' value='submit' />
</form>
