				<section id="portada">
					<p>Bienvenida a la centralita <a href='/docs#pln'>pln</a> experimental de lorea.</p>
					<p>Actualmente se permite el <a href='/register'>registro</a> a <b>betatesters</b> y ya tenemos disponible servicio de vozip que permite llamar desde telefonos y ordenadores que dispongan de conexion a internet.</p>
					<p>El <a href='http://github.com/lorea/rtcheckcalls'>codigo</a> que utiliza esta web, asi como la <a href='http://asterisk.org'>centralita</a> que utilizamos son <a href='http://es.wikipedia.org/wiki/Software_libre'>libres</a>. Las estadisticas de trafico y volumen estan disponibles para todos los usuarios, y nuestra idea es crear una operadora distribuida, transparente y social, junto con el resto de nodos de la pln.</p>
					<p>Te recordamos que una vez conectada a la centralita, siempre puedes llamar a la extension <b>0</b> para hablar con una administradora y comentar cualquier problema que tengas.</p>
				</section>

