
<!DOCTYPE html>
<!-- http://jvectormap.com/ -->
<!-- http://raphaeljs.com/world/ -->
<html>

	<head>
		<title>Lorea PBX - precios</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/tpl/home-pbx-lorea.css">
		<link rel="stylesheet" href="/tpl/js/jvectormap/jquery-jvectormap.css">
		<style type="text/css">
			.ui-tooltip {
				border: 3px solid #aaa;
				border-radius: 5px;
				background: rgba(20, 20, 20, 1);
				width: 200px;
				padding: 5px;
			}
		</style>
	</head>

	<body>
		<div id="main-wrapper">
			<header id="header">
				<a href="/">inicio</a>
				<div id="logo">%%logo%%</div>					
			</header>
			<div id="content">
				<h2>Precios</h2>
				<section id="img-logo"><img src="/tpl/hard-hat.png"/></section>
				<section id="content_inner">
					<div>
					Todo gratis: <div style="width: 10px; height: 10px; background-color: #00CECE; display: inline-block; margin-right: 20px;" title="flipa!"> </div>
					Fijos gratis: <div style="width: 10px; height: 10px; background-color: #7199FF; display: inline-block;" title="+ barato"> </div> &rArr; <div style="width: 10px; height: 10px; background-color: #414444; display: inline-block; margin-right: 20px;" title="+ caro"> </div>
					Nada gratis: <div style="width: 10px; height: 10px; background-color: #FF8888; display: inline-block;" title="+ barato"> </div> &rArr; <div style="width: 10px; height: 10px; background-color: #CC00BB; display: inline-block; margin-right: 20px;" title="+ caro">
					</div>
					Pasar el raton sobre un pais para ver sus precios.
					<p>Todas las llamadas con coste tienen un coste de establecimiento de 0.1c</p>
					<div id="map" style="width: 1000px; height: 500px"></div>	
				</section>

				<section id="listado-enlaces">
					<ul>
						%%links%%
					</ul>
				</section>

			</div>
      <!------ fin del content ---- -->
			<footer id="footer"></footer>
		</div>
		<script type="text/javascript" src="/tpl/js/jquery.js"></script>
		<script src="/tpl/js/jvectormap/jquery-jvectormap.js"></script>
		<script src="/tpl/js/jvectormap/jquery-mousewheel.js"></script>

		<script src="/tpl/js/jvectormap/lib/jvectormap.js"></script>

		<script src="/tpl/js/jvectormap/lib/abstract-element.js"></script>
		<script src="/tpl/js/jvectormap/lib/abstract-canvas-element.js"></script>
		<script src="/tpl/js/jvectormap/lib/abstract-shape-element.js"></script>

		<script src="/tpl/js/jvectormap/lib/svg-element.js"></script>
		<script src="/tpl/js/jvectormap/lib/svg-group-element.js"></script>
		<script src="/tpl/js/jvectormap/lib/svg-canvas-element.js"></script>
		<script src="/tpl/js/jvectormap/lib/svg-shape-element.js"></script>
		<script src="/tpl/js/jvectormap/lib/svg-path-element.js"></script>
		<script src="/tpl/js/jvectormap/lib/svg-circle-element.js"></script>

		<script src="/tpl/js/jvectormap/lib/vml-element.js"></script>
		<script src="/tpl/js/jvectormap/lib/vml-group-element.js"></script>
		<script src="/tpl/js/jvectormap/lib/vml-canvas-element.js"></script>
		<script src="/tpl/js/jvectormap/lib/vml-shape-element.js"></script>
		<script src="/tpl/js/jvectormap/lib/vml-path-element.js"></script>
		<script src="/tpl/js/jvectormap/lib/vml-circle-element.js"></script>

		<script src="/tpl/js/jvectormap/lib/vector-canvas.js"></script>
		<script src="/tpl/js/jvectormap/lib/simple-scale.js"></script>
		<script src="/tpl/js/jvectormap/lib/numeric-scale.js"></script>
		<script src="/tpl/js/jvectormap/lib/ordinal-scale.js"></script>
		<script src="/tpl/js/jvectormap/lib/color-scale.js"></script>
		<script src="/tpl/js/jvectormap/lib/data-series.js"></script>
		<script src="/tpl/js/jvectormap/lib/proj.js"></script>
		<script src="/tpl/js/jvectormap/lib/world-map.js"></script>

		<script src="/tpl/js/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script>
		<script type="text/javascript">
			prices = %%prices%%;
			countries = {};
			free_countries = {};
			price_countries = {};
			$.each(prices, function(country_code, value) {
				if (value.fix == 'gratis' && value.mob == 'gratis') {
					countries[country_code.toUpperCase()] = 'all-free';
				}
				else if (value.fix == 'gratis') {
					if (value.mob)
						val = value.mob;
					else
						val = 0.05;
					free_countries[country_code.toUpperCase()] = val;
				} else {
					price_countries[country_code.toUpperCase()] = value.mob;
				}
			});
			$(function() {
				$('#map').vectorMap({
					map: 'world_mill_en',
					backgroundColor: $('body').css('background-color'),
					focusOn: {
						x: 0.5,
						y: 0.5,
						scale: 1
					},
					series: {
						regions: [{
							scale: {
								'all-free': '#00CECE',
							},
							attribute: 'fill',
							values: countries,
						}, {
                                                        scale: ['#FF8888', '#CC00BB' ,'#AA0038'],
                                                        attribute: 'fill',
                                                        values: price_countries,
                                                }, {
                                                        scale: ['#7199FF', '#414156', '#414444'],
                                                        attribute: 'fill',
                                                        values: free_countries,
                                                }]
					},
					onRegionLabelShow: function(e, label, code) {
						code = code.toLowerCase();
						if (prices[code]) {
							var mobprice = prices[code].mob;
							var extension = prices[code].ext;
							if (mobprice == null) {
								mobprice = 'no disponible';
							}
							label.html('<strong>'+label.html()+' (' + extension + ')</strong><br />Fix: '+prices[code].fix+'<br />Mob: '+mobprice);
						} else {
							label.html('<strong>'+label.html()+'</strong><br />Aun no disponible');
						}
					}
				});
			});
		</script>
	</body>

</html>

