<html>
<head>
    <script src="js/jquery.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
    <link rel="stylesheet" href="/tpl/raphael/demo.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/tpl/raphael/screen.css" type="text/css" media="screen">
    <script src="raphael/raphael.js"></script>
    <script src="js/monitor.js"></script>
</head>
<body>
    <div id="credit"></div>
    <div id="canvas"></div>
    <table valign="top">
    <tr valign="top">
        <td>
            <div id="bla"></div>
        </td>
        <td>
            <div id="default"></div>
        </td>
        <td>
            <div id="rtcheckcalls"></div>
        </td>
    </tr>
    </table>
</body>
</html>
