
<!DOCTYPE html>
<html>

	<head>
		<title>Lorea PBX - home - %%ext%%</title>
		<meta charset="UTF-8">
		<style type="text/css"></style>
		<link rel="stylesheet" href="/tpl/user-pbx-lorea.css">
    		<script type="text/javascript" src="/tpl/js/jquery.js"></script>
    		<script type="text/javascript" src="/tpl/js/obelisk.js"></script>
	</head>

	<body>
		<div id="main-wrapper">
			<header id="header">
				<a href="/">inicio</a>
				<a href="/options/%%ext%%">opciones</a>
			        <a href="/voicemail/%%ext%%">correo de voz</a>
				<div id="logo">%%logo%%</div>				
				<dl id="user">
						<dt class="title-user"><h2>Usuario</h2></dt>
							<dd class="username">%%username%%</dd>
						<dt class="user-credit-title">Crédito</dt>
							<dd class="user-credit">%%credit%%</dd>
							<dd class="user-credit">%%credit_link%%</dd>
						<dt class="user-number-title">Numero PLN</dt>
							<dd class="user-number">0000 10 %%ext%%</dd>
				</dl>
			</header>
			
			<div id="content">

				<section id="facturacion">
					<h2>Facturacion</h2>
						<table>
							<thead>
								<tr>
									<td>Fecha</td>
									<td>Destino</td>
									<td>Duración</td>
									<td>coste de la llamada</td>
									<td>Precio por minuto</td>
								</tr>
							</thead>
							<tbody id='accounting_tbody'>
								%%calls%%
							</tbody>
						</table>
					</section>


				<section id="recargas">
					<h2>Recargas</h2>
						<table>
							<thead>
								<tr>
									<td>Fecha de la recarga</td>
									<td>Monto</td>
									<td>Quien realizó la recarga</td>
								</tr>
							</thead>
							<tbody>
								%%charges%%
							</tbody>
						</table>	
				</section>
				<section id="calls">
					<h2>Llamadas</h2>
						<table>
							<thead>
								<tr>
									<td>Fecha</td>
									<td>Numero de origen</td>
									<td>Destino</td>
									<td>Duración</td>
									<td>Resultado</td>
								</tr>
							</thead>
							<tbody>
								%%all_calls%%
							</tbody>
						</table>				
				</section>

			</div>
      <!------ fin del content ---- -->
			<footer id="footer"><a href="/logout">logout</a>
					    <a href="/password/%%ext%%">change pass</a></footer>
		</div>
	</body>

</html>

